<div class='embed-responsive {{^audioonly}}embed-responsive-16by9{{/audioonly}} helixmedia_embedheight'
    {{#audioonly}}style='height:100px'{{/audioonly}} id='mediallaunch-{{preid}}'>
    <iframe class='embed-responsive-item overflow-auto border-0' src='{{url}}'
        allowfullscreen='true' webkitallowfullscreen='true' mozallowfullscreen='true'></iframe>
</div>
